{% extends 'employer.html' %}
{% load static %}

{% block body %}


        <!-- Page Content Holder -->
        <div id="content">

            <div class="content-admin-main">

            	<div class="wt-admin-right-page-header clearfix">
                    <h2>Manage Jobs</h2>
                    <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>My Job Listing</span></div>
                </div>

                <!--Basic Information-->
                <div class="panel panel-default">
                    <div class="panel-heading wt-panel-heading p-a20">
                        <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i> Job Details</h4>
                    </div>
                    <div class="panel-body wt-panel-body p-a20 m-b30 ">
                        <div class="twm-D_table p-a20 table-responsive">
                            <table id="jobs_bookmark_table" class="table table-bordered twm-bookmark-list-wrap">
                                <thead>
                                    <tr>
                                        <th>Job Title</th>
                                        <th>Category</th>
                                        <th>Job Types</th>
                                        <th>Applications</th>
                                        <th>Created & Expired</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job in job_posts %}
                                    <tr>
                                        <td>
                                            <div class="twm-bookmark-list">
                                                <div class="twm-media">
                                                    <div class="twm-media-pic">
                                                        <img src="{{ profile.logo.url }}" alt="#">
                                                    </div>
                                                </div>
                                                <div class="twm-mid-content">
                                                    <a href="{{ job.get_absolute_url }}" class="twm-job-title">
                                                        <h4>{{ job.title }}</h4>
                                                        <p class="twm-bookmark-address">
                                                            <i class="feather-map-pin"></i> {{ job.job_location }}
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ job.job_category.name }}</td>
                                        <td>
                                            <div class="twm-jobs-category">
                                                <span class="twm-bg-green">{{ job.job_type }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="site-text-primary">{{ job.applications.count }} Applied</a>
                                        </td>
                                        <td>
                                            <div>{{ job.created_at|date:"d/m/Y" }}</div>
                                            <div>{{ job.application_deadline|date:"d/m/Y" }}</div>
                                        </td>
                                        <td>
                                            <div class="twm-table-controls">
                                                <ul class="twm-DT-controls-icon list-unstyled">
                                                    <li>
                                                        <button title="View Job" data-bs-toggle="tooltip" data-bs-placement="top">
                                                            <span class="fa fa-eye"></span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button title="Edit" data-bs-toggle="tooltip" data-bs-placement="top">
                                                            <span class="far fa-edit"></span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                            <span class="far fa-trash-alt"></span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>             
                    </div>
                </div>

            </div>

    	</div>


	</div>

    {% endblock %} 